In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('appstore_games.csv')
ls_name = df['Name'].dropna()
ls_price = df['Price'].dropna()
ls_inapp = df['In-app Purchases'].dropna()
ls_avg_user_rating = df['Average User Rating'].dropna()
ls_age_rating = df['Age Rating'].dropna()

In [13]:
print(ls_name)

0                           Sudoku
1                          Reversi
2                          Morocco
3                    Sudoku (Free)
4                     Senet Deluxe
                   ...
17002    Stack Puzzle : Rise Tower
17003                    EachOther
17004           Rabbit Vs Tortoise
17005                       FaTaLL
17006     The Three Kingdoms :Bomb
Name: Name, Length: 17007, dtype: object

In [14]:
print(ls_price)
np.mean(ls_price)

0        2.99
1        1.99
2        0.00
3        0.00
4        2.99
         ...
17002    0.00
17003    0.00
17004    0.00
17005    0.00
17006    0.00
Name: Price, Length: 16983, dtype: float64

0.8134187128304518

In [15]:
print(ls_avg_user_rating)
np.mean(ls_avg_user_rating)

0        4.0
1        3.5
2        3.0
3        3.5
4        3.5
        ...
16950    3.0
16956    5.0
16962    5.0
16967    5.0
16993    5.0
Name: Average User Rating, Length: 7561, dtype: float64

4.06090464224309

In [16]:
print(ls_age_rating)

0        4+
1        4+
2        4+
3        4+
4        4+
         ..
17002    4+
17003    4+
17004    4+
17005    4+
17006    4+
Name: Age Rating, Length: 17007, dtype: object

In [22]:
print(ls_inapp)

5                                            1.99
15                                           0.99
16                                           0.99
18       1.99, 0.99, 1.99, 0.99, 4.99, 1.99, 1.99
19                               0.99, 0.99, 0.99
                           ...
16972                                        1.99
16978                1.99, 9.99, 4.99, 2.99, 0.99
16980                                  2.99, 9.99
16991                                        1.99
17005                           9.99, 49.99, 3.99
Name: In-app Purchases, Length: 7683, dtype: object